aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.2.20
py-tgcalls==0.8.4
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
googletrans
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
yt-dlp==2021.11.10.1
telegraph
hachoir
lyricsgenius
httpx>=0.14.2
