tgcrypto
pyrogram==1.4.16
py-tgcalls==0.9.0b1
pybase64
youtube-search-python
yt-dlp==2021.11.10.1
ffmpeg-python
aiohttp
aiofiles
asyncio
Pillow
pytube
wget
python-dotenv
search-engine-parser
youtube-search
speedtest-cli
cryptography
dnspython
future
hurry.filesize
motor
pillow
psutil
pykeyboard
requests
speedtest-cli
uvloop
telegraph
lyricsgenius
hachoir
lyricsgenius
httpx>=0.14.2
gitpython
rich
heroku3
